In [51]:
import numpy as np
import pandas as pd

banksim_df = pd.read_csv("../data/bs140513_032310.csv")
banksim_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 10 columns):
step           594643 non-null int64
customer       594643 non-null object
age            594643 non-null object
gender         594643 non-null object
zipcodeOri     594643 non-null object
merchant       594643 non-null object
zipMerchant    594643 non-null object
category       594643 non-null object
amount         594643 non-null float64
fraud          594643 non-null int64
dtypes: float64(1), int64(2), object(7)
memory usage: 45.4+ MB

In [52]:
banksim_df = banksim_df.drop(['step', 'merchant', 'age', 'gender', 'zipcodeOri', 'amount', 'zipMerchant'], axis=1)
banksim_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 3 columns):
customer    594643 non-null object
category    594643 non-null object
fraud       594643 non-null int64
dtypes: int64(1), object(2)
memory usage: 13.6+ MB

In [53]:
count_per_transaction_type = banksim_df.groupby(['customer', 'fraud']).size().unstack().add_prefix("fraud_")
count_per_transaction_type.head()

fraud          fraud_0  fraud_1
customer
'C1000148617'    130.0      1.0
'C100045114'     104.0      5.0
'C1000699316'     94.0      NaN
'C1001065306'     19.0     11.0
'C1002658784'    131.0      NaN

In [54]:
count_per_category = banksim_df.groupby(['customer', 'category']).size().unstack()
count_per_category.head()

category,'es_barsandrestaurants','es_contents','es_fashion','es_food','es_health','es_home','es_hotelservices','es_hyper','es_leisure','es_otherservices','es_sportsandtoys','es_tech','es_transportation','es_travel','es_wellnessandbeauty'
customer,,,,,,,,,,,,,,,
'C1000148617',NaN,NaN,NaN,5.0,2.0,1.0,1.0,1.0,NaN,2.0,1.0,2.0,114.0,NaN,2.0
'C100045114',2.0,NaN,1.0,4.0,10.0,2.0,2.0,2.0,NaN,NaN,3.0,NaN,65.0,1.0,17.0
'C1000699316',NaN,NaN,NaN,6.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,80.0,NaN,4.0
'C1001065306',NaN,NaN,1.0,NaN,16.0,1.0,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,6.0
'C1002658784',2.0,1.0,2.0,3.0,3.0,1.0,NaN,4.0,NaN,1.0,2.0,1.0,108.0,NaN,3.0

In [55]:
transaction_count_per_group = pd.merge(count_per_transaction_type, count_per_category, left_index=True, right_index=True)
transaction_count_per_group.head()

,fraud_0,fraud_1,'es_barsandrestaurants','es_contents','es_fashion','es_food','es_health','es_home','es_hotelservices','es_hyper','es_leisure','es_otherservices','es_sportsandtoys','es_tech','es_transportation','es_travel','es_wellnessandbeauty'
customer,,,,,,,,,,,,,,,,,
'C1000148617',130.0,1.0,NaN,NaN,NaN,5.0,2.0,1.0,1.0,1.0,NaN,2.0,1.0,2.0,114.0,NaN,2.0
'C100045114',104.0,5.0,2.0,NaN,1.0,4.0,10.0,2.0,2.0,2.0,NaN,NaN,3.0,NaN,65.0,1.0,17.0
'C1000699316',94.0,NaN,NaN,NaN,NaN,6.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,80.0,NaN,4.0
'C1001065306',19.0,11.0,NaN,NaN,1.0,NaN,16.0,1.0,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,6.0
'C1002658784',131.0,NaN,2.0,1.0,2.0,3.0,3.0,1.0,NaN,4.0,NaN,1.0,2.0,1.0,108.0,NaN,3.0

In [56]:
transaction_count_per_group = transaction_count_per_group.drop(['\'es_barsandrestaurants\'', '\'es_contents\'', '\'es_hotelservices\'', '\'es_hyper\'', '\'es_otherservices\'', '\'es_sportsandtoys\'', '\'es_tech\'', '\'es_travel\'', '\'es_wellnessandbeauty\''], axis=1)
transaction_count_per_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4112 entries, 'C1000148617' to 'C999723254'
Data columns (total 8 columns):
fraud_0                4112 non-null float64
fraud_1                1483 non-null float64
'es_fashion'           3035 non-null float64
'es_food'              3442 non-null float64
'es_health'            3541 non-null float64
'es_home'              1433 non-null float64
'es_leisure'           331 non-null float64
'es_transportation'    3986 non-null float64
dtypes: float64(8)
memory usage: 449.1+ KB

In [57]:
# Renaming the columns
transaction_count_per_group.columns = ["legitimate_count", "fraudulent_count", "Fashion", "Food", "Health", "Home", "Leisure", "Transportation"]
transaction_count_per_group['customer_id'] = transaction_count_per_group.index
transaction_count_per_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4112 entries, 'C1000148617' to 'C999723254'
Data columns (total 9 columns):
legitimate_count    4112 non-null float64
fraudulent_count    1483 non-null float64
Fashion             3035 non-null float64
Food                3442 non-null float64
Health              3541 non-null float64
Home                1433 non-null float64
Leisure             331 non-null float64
Transportation      3986 non-null float64
customer_id         4112 non-null object
dtypes: float64(8), object(1)
memory usage: 481.2+ KB

In [59]:
# Reordering the columns
transaction_count_per_group = transaction_count_per_group[["customer_id", "legitimate_count", "fraudulent_count", "Transportation", "Food", "Fashion", "Leisure", "Health", "Home"]]
transaction_count_per_group.head()

,customer_id,legitimate_count,fraudulent_count,Transportation,Food,Fashion,Leisure,Health,Home
customer,,,,,,,,,
'C1000148617','C1000148617',130.0,1.0,114.0,5.0,NaN,NaN,2.0,1.0
'C100045114','C100045114',104.0,5.0,65.0,4.0,1.0,NaN,10.0,2.0
'C1000699316','C1000699316',94.0,NaN,80.0,6.0,NaN,NaN,1.0,NaN
'C1001065306','C1001065306',19.0,11.0,NaN,NaN,1.0,NaN,16.0,1.0
'C1002658784','C1002658784',131.0,NaN,108.0,3.0,2.0,NaN,3.0,1.0

In [63]:
transaction_count_per_group = transaction_count_per_group.fillna(0)
transaction_count_per_group.head()

,customer_id,legitimate_count,fraudulent_count,Transportation,Food,Fashion,Leisure,Health,Home
customer,,,,,,,,,
'C1000148617','C1000148617',130.0,1.0,114.0,5.0,0.0,0.0,2.0,1.0
'C100045114','C100045114',104.0,5.0,65.0,4.0,1.0,0.0,10.0,2.0
'C1000699316','C1000699316',94.0,0.0,80.0,6.0,0.0,0.0,1.0,0.0
'C1001065306','C1001065306',19.0,11.0,0.0,0.0,1.0,0.0,16.0,1.0
'C1002658784','C1002658784',131.0,0.0,108.0,3.0,2.0,0.0,3.0,1.0

In [64]:
transaction_count_per_group.to_csv("sample.csv", index=False)